

# The URL of the websocket defined in web_socket.py
# If you're using the same slurm node as someone else, pick a different port.
# Available Ports:
# - Ryu:     2000-3000
# - Zengief: 3001-3100
# - Terry:   3101-3200

NEXT_PUBLIC_WEBSOCKET_URL=ws://129.123.61.22:3050