# The port over which the websocket connects to the front end.
# If you're using the same slurm node as someone else, pick a different port.
# NOTE: THIS SHOULD BE THE SAME PORT AS IN frontend/defaults/web_socket.py

# Available Ports:
# - Ryu:     2000-3000
# - Zengief: 3001-3100
# - Terry:   3101-3200

WEB_SOCKET_PORT=3050
INFERENCE_SERVER_PORT=3051

# The address of the machine running the inference server
# (127.0.0.1 if running backend on same machine)
INFERENCE_SERVER_HOST=127.0.0.1
MODEL_API_KEY=<API KEY>

DB_HOST=129.123.61.22
DB_PORT=10543
ADSB_DB_NAME=postgres
AIS_DB_NAME=actint
DB_USER=direct
DB_PASS=<INSERT PASSWORD>

# Uncomment if using a sqlite db
# DB_USING_SQLITE=true
# DB_PATH=/path/to/db.db

############## Model Configuration ###############
# If you want to use the path to a gguf file you downloaded yourself
# use MODEL_PATH instead of MODEL_ID. 
# (If the model is split into multiple gguf files, just specify the first one.)
# MODEL_PATH="path/to/model.gguf"

# The name of a HuggingFace repository
# (must contain .gguf files)
MODEL_ID=Qwen/Qwen3.5-9B

# The quantization format to use
# (e.g. Q4_K_M, UD-Q8_K_XL, BF16)
# Look in "Files and versions" on the model's HF repo to see avaiable formats
MODEL_QUANT_FORMAT=Q6_K

MAX_CONTEXT_LENGTH=131072
MAX_NEW_TOKENS=2000

# The directory to download HF models to (should be in /scratch/)
HF_HOME=/scratch/<YOUR USERNAME>/huggingface_cache/
