# The port over which the websocket connects to the front end.
# If you're using the same slurm node as someone else, pick a different port.
# NOTE: THIS SHOULD BE THE SAME PORT AS IN frontend/defaults/web_socket.py

# Available Ports:
# - Ryu:     2000-3000
# - Zengief: 3001-3100
# - Terry:   3101-3200

WEB_SOCKET_PORT=3050
INFERENCE_SERVER_PORT=3051

DB_HOST=129.123.61.22
DB_PORT=10543
ADSB_DB_NAME=postgres
AIS_DB_NAME=actint
DB_USER=direct
DB_PASS=<INSERT PASSWORD>


############## Model Configuration ###############
# The name of a HuggingFace repository
# (must contain .gguf files)
MODEL_ID=unsloth/gemma-4-31B-it-GGUF  

# The quantization format to use
# (e.g. Q4_K_M, UD-Q8_K_XL, BF16)
# Look in "Files and versions" on the model's HF repo to see avaiable formats
MODEL_QUANT_FORMAT=Q6_K

MAX_CONTEXT_LENGTH=131072
MAX_NEW_TOKENS=2000

# The directory to download HF models to (should be in /scratch/)
HF_HOME=/scratch/<YOUR USERNAME>/huggingface_cache/