# The port over which the websocket connects to the front end.
# If you're using the same slurm node as someone else, pick a different port.
# Available Ports:
# - Ryu:     2000-3000
# - Zengief: 3001-3100
# - Terry:   3101-3200

WEB_SOCKET_PORT=3105